@import './variables';
@import '~bootstrap/scss/bootstrap';

h1 {
  display: flex;
  justify-content: flex-start
}

.box {
  align-items: center;
  background-color: $primary-box-color;
  border: 1px solid white;
  display: flex;
  height: 80px;
  justify-content: center;
}

.sign-up {
  border: 2px solid black;
  float: left;
  margin: 0 auto;
}
