$pale-grey-blue: #F2F4FF;
$carrot-orange: #FF8E51;
$medium-grey-blue: #C1CDFF;
$pigeon-egg-blue: #9BAFFF;
$purpley-blue: #728CFF;
$failure-red: #FF0700;

$highlight: $pale-grey-blue;
$primary-background-color: $medium-grey-blue;
$primary-box-color: $purpley-blue;
$primary-contrast-color: $carrot-orange;
$secondary-accent-color: $pigeon-egg-blue;
